.service {
  padding-top: 160px;
  font-family: sans-serif;
  padding: 160px 90px 0 87px;
}

.title {
  text-align: center;
  color: #121116;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 16px;
}

.subtitle {
  text-align: center;
  color: #605d6c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0 auto;
  width: 413px;
  padding-bottom: 70px;
}

.groupcard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  flex-wrap: wrap;
}

.card {
  padding-top: 48px;
  width: 370px;
  text-align: center;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 20px 70px 0px rgba(18, 17, 22, 0.05);
}

.cardtitle {
  margin-top: 48px;
  color: #121116;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}

.message {
  color: #605d6c;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 20px 48px;
}

.groupcard .card:nth-child(3) .message {
  color: #000000;
  font-weight: 600;
}

.groupbusiness {
  display: flex;
  gap: 145px;
  align-items: center;
  margin-bottom: 160px;
}

.business-image {
  width: 570px;
  height: 570px;
  border-radius: 570px;
  background: #fffbef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title.content-title {
  text-align: initial;
}

.message.business-message {
  text-align: initial;
  padding: 0;
  font-size: 18px;
  margin-bottom: 31px;
}

.grouplist {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 31px;
}

.grouplist:nth-child(2) .number {
  background: #ff794e;
}

.grouplist:nth-child(3) .number {
  background: #405bec;
}

.grouplist .number {
  color: #fff;
  padding: 14px 26px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 29px;
  font-weight: 600;
  background: #ffc631;
}
.grouplist .list {
  color: #121116;
  font-weight: 600;
  font-size: 18px;
}

.groupbusiness .button-start {
  border-radius: 6px;
  background: #7557ff;
  border-width: 0;
  padding-inline: initial;
  padding: 15px 35px;
  color: #fff;
  font-size: 18px;
}

.groupbusiness .button-start:hover {
  cursor: pointer;
}

.image img{
  display: inline;
}

@media (max-width: 768px) {
  .groupbusiness {
    display: block;
    margin-bottom: 110px;
  }

  .content,
  .business-image {
    margin-bottom: 40px;
  }

  .groupcard {
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 400px) {
  .service {
    padding: 160px 39px 0 39px;
  }
  .subtitle {
    width: initial;
  }
.business-image {
    width: 100%;
    height: 300px;
}

  .business-image img {
    width: 240px;
  }

  .title{
    font-size: 35px;
  }

  .subtitle{
    font-size: 15px;
  }

  .message.business-message {
    font-size: 16px;
}

.grouplist .list {
    font-size: 16px;
}
}
